@charset "utf-8";
#wrap{position: relative; }

header{width: 100%; height: 80px; position: fixed; top: 0; left: 0;font-family: 'Minguk-Regular'; z-index: 1000; }

.headerIn{width: 100%; margin: 0 auto; height: 80px;}

.headerIn h1{font-size: 24px; text-transform: uppercase; width: fit-content;}
.headerIn h1 a{display: block; margin-left: 20px; transform-origin: bottom center; line-height: 80px; letter-spacing: -.25px;}

.headerIn nav{position: fixed; top: 50%; right: 20px; transform: translateY(-50%);}
.headerIn nav ul li{font-size: 16px; line-height: 2em; text-align: right; text-transform: uppercase; cursor: pointer; position: relative; -webkit-text-stroke: .05em transparent; transition: all .3s;}
.headerIn nav ul li.on{color: #6667ab; transform: translateX(-10px); -webkit-text-stroke-color: #6667AB;}
.headerIn nav ul li.on::after{content: ""; display: block; width: 50px; height: 1px; position: absolute; top: 50%; left: 110%; transform: translateY(-50%); background: #6667ab;}

.headerIn .menu{display:  none}


footer{padding: 50px 0;}
.footerIn{width: 100%; max-width: 1440px; margin: 0 auto; text-align: center;}
.footerIn ul{margin-bottom: 30px;}
.footerIn ul li{color: #666;}
.footerIn ul li::before{content: "- ";}
.footerIn .copy{color: #666;}

.top_btn{cursor: pointer; width: 70px; line-height: 70px; border-radius: 50%;text-align: center; background: #6667AB; color: #fff; position: fixed; bottom: 3vw; right: 3vw; text-transform: uppercase;display: none;}

.scroll_bar{width: 0%; height: 3px; position: fixed; top:0; left: 0; background: #6667AB; z-index: 1001;}

.load{width: 100%; height: 100%; background: #6667AB; position: fixed; top: 0; left: 0; ; z-index: 1001; transition: all .5s;}

.load.on{transform: translateY(-100%);}

.load .text{text-align: center; position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); }
.load .text span{display: block; color: #fff; font-size: 50px; line-height: 1.5em;}

body{overflow: overlay; }
::-webkit-scrollbar{width: 6px; transition: all .3s;}
::-webkit-scrollbar:hover{width: 10px;}
::-webkit-scrollbar-thumb{background:rgb(102, 103, 171, .5);  border-radius: 10px; transition: all .3s;}
::-webkit-scrollbar-thumb:hover{background: rgb(102, 103, 171, 1);}
::-webkit-scrollbar-track{background: transparent;}

@media all and (max-width:1024px) {     
    .headerIn{padding: 0 20px;}
    .headerIn h1 a{margin-left: 0;}

    .headerIn .menu{display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer; font-size: 24px; text-transform: uppercase;}

    .headerIn nav{transform: translateY(-50%) translateX(200%); transition: all .3s;}
    .headerIn nav.on{transform: translateY(-50%) translateX(0%)}

    .footerIn{padding: 0 20px;}
    .footerIn ul li{font-size: 2vw;}
    .footerIn .copy{font-size: 2vw;}
    .top_btn{display: none;}
}


@media all and (max-width:768px) {
    header,
    .headerIn{height: 60px;}
    .headerIn h1 a,
    .headerIn .menu{font-size: 4vw; line-height: 60px;}


    .load .text span{font-size: 7vw};

}


@keyframes top_btn {
    100% {height: 50px;}
    
}