@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {font-family: 'Minguk-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Minguk-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-size: 12px; line-height: 1.5em; font-family: 'Noto Sans KR', sans-serif;}
ul,ol{list-style: none;}

a{color: #111; text-decoration: none;}
img{border: none; vertical-align: top; width: 100%; height: auto;}
address{font-style: normal; }

.cf{}
.cf:after{content: ""; display: block; clear: both; }

